<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="renderer" content="webkit" />
	<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
	<link rel="stylesheet" href="https://pc-newtab-img.maxthon.com/static/css/2.0.0/style.min.css?v=e3c885671aa">
	<script>
		// 数据请求提前发出， 提升一秒左右的速度
		var __PRELOAD__ = {
			mackCb: function (cgi) {
				return function (data) {
					if (typeof __PRELOAD__[cgi] === 'function') {
						__PRELOAD__[cgi](data);
					}
					__PRELOAD__[cgi] = data || {};
					localStorage.setItem('MAP_LIST_JSON', JSON.stringify(data || {}));
				}
			}
		}
		var __PRELOAD__CB__0 = __PRELOAD__.mackCb('map_list.json');
	</script>
	<script src="//pc-newtab.maxthon.com/api/data/misc.php?res=map&callback=__PRELOAD__CB__0&lang=zh-cn"></script>
</head>

<body>
	<!-- 618皮肤活动 -->
    <div id="skin" class="skin" data-s-m="skin">
		<div class="skin-wrap" style="background-image: url(https://pc-newtab-img.maxthon.com/static/img/skin/20180618.png?v=20180618);"></div>
		<span id="skin-top-btn" class="close"></span>
	</div>
	<!-- 顶通结束 ]] -->
	<div id="wrapper">
		<ul id="top" class="clearfix"></ul>
		<div id="main"></div>
	</div>
	<div id="siderbar" class="siderbar">
		<ul>
			<li class="no">
				<span id="qr-Code">&nbsp;</span>
				<div class="download">
					<div class="title">下载傲游5移动版</div>
					<p>
						<img src="//pc-newtab-img.maxthon.com/static/img/qcode-china.png" alt="" />
					</p>
					<div class="dev">iOS&Android</div>
					<ins></ins>
				</div>
			</li>
			<li>
				<span id="config-button"></span>
			</li>
		</ul>
	</div>
	<!-- 文件夹弹框 -->
	<div id="group" class="dialog">
		<div id="group_top" class="top">
			<input id="group-title" class="title" value="" />
			<a class="close">[关闭]</a>
		</div>
		<div id="group_body" class="body">
			<div id="group_list" class="group-list"></div>
		</div>
	</div>
	<!-- 文件夹删除对话框 -->
	<div id="delete_folder" class="dialog"></div>
	<!-- 笔记已删除 -->
	<div id="note_is_delete" class="dialog"></div>
	<div id="wallpapers">
		<!-- poster 一个初始化的画面, 解决黑屏的问题  -->
		<video id="media" preload="true" loop="loop"></video>
	</div>
	<div id="mx_mask_layer" class="mx-mask-layer"></div>
	<script id="page_data" type="text/javascript" version="20190821"></script>
	<script id="page_tpl" type="text/template" version="20171102"></script>
	<script id="activity_tpl" type="text/template" version="2017102517"></script>
	<!-- <script type="text/javascript" src="https://pc-newtab-img.maxthon.com/static/js/lib/bj-report-tryjs.min.js"></script> -->
	<script type="text/javascript">
		var staticServer = 'https://pc-newtab-img.maxthon.com/static', cdnServer = staticServer + '/v1.1', skinDisplay;
		// 初始化
		// BJ_REPORT.init({ id: 2, uin: -1, random: 1, url: "http://47.93.8.193/badjs" })
		// BJ_REPORT.tryJs().spyAll();
	</script>
	<script type="text/javascript" src="/view/app.js"></script>
	<script type="text/javascript" src="https://pc-newtab-img.maxthon.com/static/js/lib/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="https://pc-newtab-img.maxthon.com/static/js/ad/hd.js?v=123"></script>
	<script src="https://pc-newtab-img.maxthon.com/static/js/page/main-c8091e3c885671cc.min.js"></script>
</body>

</html>
